.progress__timer_container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.progress__timer_container > p {
  color: #fff;
}

.progress__timer_container > span {
  width: 1.75rem;
  aspect-ratio: 1;
  background-color: var(--circle-color);
  display: block;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.progress__timer_container > span.active::before,
.progress__timer_container > span.active::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.781);
  opacity: 0;
  animation: waveAnimation 1.5s infinite;
  z-index: 1;
}

.progress__timer_container > span.active::before {
  animation-delay: 1s;
}

.progress__timer_container > span.active::after {
  animation-delay: 1.3s;
}

@keyframes waveAnimation {
  0% {
    transform: scale(1);
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
  }
}
