.progress__timer_container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.progress__timer_container > p {
  color: #fff;
}

.progress__timer_container > span {
  width: 1.75rem;
  aspect-ratio: 1;
  background-color: var(--circle-color);
  display: block;
  border-radius: 50%;
}
